@import url('slick-default-theme.css');

* {
    font-family: arial;
    font-size: 8pt;
}

body {
    background: beige;
    padding: 0;
    margin: 8;
}

h2 {
    font-size: 10pt;
    border-bottom: 1px dotted gray;
}

ul {
    margin-left: 0;
    padding: 0;
    cursor: default;
}

li {
    background: url("../img/arrow_right_spearmint.png") no-repeat top left;
    padding: 0 0 0 14px;

    list-style: none;
    margin: 0;
}
#img_load{
    position: absolute;
    top: 5px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    display:none;      
}
.input_error { background-color: #FFC0C0;}
.input_warning { background-color: #FF0000;}
.cell_right{text-align: right;}
.cell_left{text-align: left;}
.cell_center{text-align:center;}
input[disabled], input[readonly] {color: black;}
select[disabled], select[readonly] {color: black;}
textarea[disabled], textarea[readonly] {color: black;}

.tiketcss{
    
}

.tiketcss td {
    padding:10px;
}